.btn_display_option {
    border-color: #8f8f8f;
    color: #8f8f8f;
}

.btn_display_option:active,
.btn_display_option:hover {
    color: #fff !important;
}

.display-options-container a {
    cursor: pointer;
}

thead>tr>th {
    white-space: nowrap;
}

tbody>tr>td {
    cursor: pointer;
}