<form>
    <div class="card mb-4">
        <div class="card-body">
            <div class="d-flex flex-row justify-content-between">
                <h5 class="card-title mb-3">{{'heading-title.app_version' | translate }}</h5>
                <div class="" *ngIf="_helper.has_permission(_helper.PERMISSION.EDIT)">
                    <button id="button-basic" type="button" class="btn btn-outline-primary btn-xs mb-3"
                        (click)="onClickAppUpdateSetting()">
                        {{ !is_edit_app_update_settings ? ('button-title.edit' | translate) : ('button-title.save' |
                        translate) }} </button>
                </div>
            </div>
            <form class="form" [formGroup]="appVersionSettingsForm">
                <p class="text-muted text-small mb-2 text-primary font-weight-bold">
                    {{'label-title.android_user_app_version' | translate | uppercase}}
                </p>
                <div class="row">
                    <div class="col-6 col-sm-8 d-flex mb-3 pb-3 border-bottom align-items-center">
                        <a>
                            <p class="font-weight-medium mb-0">{{'label-title.app-version' | translate }}</p>
                        </a>
                    </div>
                    <div class="col-6 col-sm-4 d-flex mb-3 pb-3 border-bottom justify-content-end align-items-center">
                        <input type="text" onDrop="return false" onPaste="return false" (keypress)="_helper.decimalNum_validation($event)" class="form-control" formControlName="android_user_app_version_code">
                    </div>
                </div>
                <p class="text-muted text-small mb-2 text-primary font-weight-bold">
                    {{'label-title.android_driver_app_version' | translate | uppercase}}
                </p>
                <div class="row">
                    <div class="col-6 col-sm-8 d-flex mb-3 pb-3 border-bottom align-items-center">
                        <a>
                            <p class="font-weight-medium mb-0">{{'label-title.app-version' | translate }}</p>
                        </a>
                    </div>
                    <div class="col-6 col-sm-4 d-flex mb-3 pb-3 border-bottom justify-content-end align-items-center">
                        <input type="text" onDrop="return false" onPaste="return false" (keypress)="_helper.decimalNum_validation($event)" class="form-control" formControlName="android_provider_app_version_code">
                    </div>
                </div>
                <p class="text-muted text-small mb-2 text-primary font-weight-bold">
                    {{'label-title.ios_user_app_version' | translate | uppercase}}
                </p>
                <div class="row">
                    <div class="col-6 col-sm-8 d-flex mb-3 pb-3 border-bottom align-items-center">
                        <a>
                            <p class="font-weight-medium mb-0">{{'label-title.app-version' | translate }}</p>
                        </a>
                    </div>
                    <div class="col-6 col-sm-4 d-flex mb-3 pb-3 border-bottom justify-content-end align-items-center">
                        <input type="text" onDrop="return false" onPaste="return false" (keypress)="_helper.decimalNum_validation($event)" class="form-control" formControlName="ios_user_app_version_code">
                    </div>
                </div>
                <p class="text-muted text-small mb-2 text-primary font-weight-bold">
                    {{'label-title.ios_driver_app_version' | translate | uppercase}}
                </p>
                <div class="row">
                    <div class="col-6 col-sm-8 d-flex mb-3 pb-3 border-bottom align-items-center">
                        <a>
                            <p class="font-weight-medium mb-0">{{'label-title.app-version' | translate }}</p>
                        </a>
                    </div>
                    <div class="col-6 col-sm-4 d-flex mb-3 pb-3 border-bottom justify-content-end align-items-center">
                        <input type="text" onDrop="return false" onPaste="return false" (keypress)="_helper.decimalNum_validation($event)" class="form-control" formControlName="ios_provider_app_version_code">
                    </div>
                </div>
            </form>
        </div>
    </div>
</form>