<div class="card mb-4">
    <div class="card-body">
        <div class="d-flex flex-row justify-content-between">
            <h5 class="card-title mb-3">{{'heading-title.force-update-settings' | translate }} <span class="c-pointer"><i class="simple-icon-info position-relative ml-1" style="top: 2px;" tooltip="{{'tooltip-title.force-update-settings-tooltip' | translate}}" placement="right"></i></span></h5>
            <div class="" *ngIf="_helper.has_permission(_helper.PERMISSION.EDIT)">
                <button id="button-basic" type="button" class="btn btn-outline-primary btn-xs mb-3"
                    (click)="onClickAppForceSetting()">
                    {{ !is_edit_force_update_settings ? ('button-title.edit' | translate) : ('button-title.save' |
                    translate) }} </button>
            </div>
        </div>
        <div class="form">
            <form class="form" [formGroup]="appForceUpdateForm">
                <div class="border-bottom d-flex flex-row justify-content-between mb-3 pb-3">
                    <div class="flex-grow-1">
                        <a href="javascript:;">
                            <p class="font-weight-medium mb-0">{{'label-title.android-user-app-force-update' | translate
                                }}</p>
                        </a>
                    </div>
                    <div class="comment-likes">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" id="customSwitch11" formControlName="android_user_app_force_update"
                                class="custom-control-input">
                            <label for="customSwitch11" class="custom-control-label"></label>
                        </div>
                    </div>
                </div>
                <div class="border-bottom d-flex flex-row justify-content-between mb-3 pb-3">
                    <div class="flex-grow-1">
                        <a href="javascript:;">
                            <p class="font-weight-medium mb-0">{{'label-title.android-provider-app-force-update' |
                                translate }}</p>
                        </a>
                    </div>
                    <div class="comment-likes">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" id="customSwitch12"
                                formControlName="android_provider_app_force_update" class="custom-control-input">
                            <label for="customSwitch12" class="custom-control-label"></label>
                        </div>
                    </div>
                </div>
                <div class="border-bottom d-flex flex-row justify-content-between mb-3 pb-3">
                    <div class="flex-grow-1">
                        <a href="javascript:;">
                            <p class="font-weight-medium mb-0">{{'label-title.ios-user-app-force-update' | translate }}
                            </p>
                        </a>
                    </div>
                    <div class="comment-likes">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" id="customSwitch13" formControlName="ios_user_app_force_update"
                                class="custom-control-input">
                            <label for="customSwitch13" class="custom-control-label"></label>
                        </div>
                    </div>
                </div>
                <div class="border-bottom d-flex flex-row justify-content-between mb-3 pb-3">
                    <div class="flex-grow-1">
                        <a href="javascript:;">
                            <p class="font-weight-medium mb-0">{{'label-title.ios-provider-app-force-update' | translate
                                }}</p>
                        </a>
                    </div>
                    <div class="comment-likes">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" id="customSwitch14" formControlName="ios_provider_app_force_update"
                                class="custom-control-input">
                            <label for="customSwitch14" class="custom-control-label"></label>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>