<div class="row">
    <div class="col-12">
        <app-heading></app-heading>
        <app-breadcrumb></app-breadcrumb>
        <br>
        <div class="separator mb-4"></div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="search-address">
                    <input type="text" class="form-control mb-4" id="address" placeholder="{{'label-title.search-address' | translate }}" noPasteDrop>
                </div>
                <div id="city_map" style="width: 100%; min-height: 550px;"></div>
            </div>
        </div>
    </div>
</div>