.div-position{
    top: 6px;
    left: -7px;
}

.ev-tag{
    background-image: linear-gradient(225deg, #3e884f 8%, transparent 0%);
    border-radius: 0.75rem;
}
.ev-tag-list{
    background-image: linear-gradient(225deg, #3e884f 3%, transparent 0%);
    border-radius: 0.75rem;
}

.rent-vehicle-image {
    min-width: 248px;
    max-width: 248px;
    min-height: 196px;
    max-height: 196px;
}

.btn-circle.hero-circle-button {
    position: relative;
    margin-left: 10px;
}