<div class="row mb-4">
    <div class="col-12">

        <app-heading></app-heading>

        <div class="top-right-button-container text-zero">
            <div class="btn-group">
                <button *ngIf="_helper.has_permission(_helper.PERMISSION.EXPORT)" id="button-basic" type="button"
                    class="btn btn-lg btn-outline-primary" (click)="export()">
                    {{'button-title.export' | translate | uppercase}} <span class="caret"></span>
                </button>
            </div>
        </div>

        <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb"
            *ngIf="selectedId == ''">
            <ol class="breadcrumb pt-0">
                <li class="breadcrumb-item">
                    <a>{{'menu.home' | translate}}</a>
                </li>
                <li class="breadcrumb-item" aria-current="page">{{ 'menu.users' | translate }}</li>
                <li class="breadcrumb-item active" aria-current="page">{{ 'menu.user' | translate }}</li>
            </ol>
        </nav>

        <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" *ngIf="selectedId != ''"
            aria-label="breadcrumb">
            <ol class="breadcrumb pt-0">
                <li class="breadcrumb-item">
                    <a>{{'menu.corporate' | translate}}</a>
                </li>
                <li class="breadcrumb-item" aria-current="page">{{ 'menu.users' | translate }}</li>
                <li class="breadcrumb-item " aria-current="page">{{ corporateData.name | titlecase }}</li>
            </ol>
        </nav>

        <div class="display-options-container">

            <div class="mb-2 d-flex justify-content-between">
                <div class="d-flex flex-wrap">
                    <div class="d-inline-block mt-1" id="displayOptions">
                        <div class="d-inline-block mr-3 view-class c-pointer"
                            [ngClass]="viewType===1? 'text-primary': ''" title="Grid View" (click)="onViewChange(1)">
                            <i class="simple-icon-grid"></i>
                        </div>
                        <div class="d-inline-block mr-3 view-class c-pointer"
                            [ngClass]="viewType===2? 'text-primary': ''" title="List View" (click)="onViewChange(2)">
                            <i class="simple-icon-list"></i>
                        </div>
                    </div>
                    <div class="d-block d-md-inline-block position-relative" id="displayOptions">
                        <div class="mr-1 mb-1" dropdown>
                            <button id="button-basic" dropdownToggle type="button"
                                class="btn btn-outline-dark btn-xs dropdown-toggle" aria-controls="dropdown-basic">
                                {{'button-title.search-by' | translate}} : {{itemOrder.label | translate}} <span
                                    class="caret"></span>
                            </button>
                            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu"
                                aria-labelledby="button-basic">
                                <li role="menuitem" *ngFor="let item of itemOptionsOrders"
                                    [ngClass]="item.isShow == false ? 'd-none' : ''">
                                    <a [ngClass]="item.value === itemOrder.value ? 'dropdown-item active' : 'dropdown-item'"
                                        (click)="onChangeOrderBy(item)">{{item.label | translate}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="d-block d-md-inline-block position-relative" id="displayOptions">
                        <div class="mr-1 mb-1" dropdown>
                            <button id="button-basic" dropdownToggle type="button"
                                class="btn btn-outline-dark btn-xs dropdown-toggle" aria-controls="dropdown-basic">
                                {{'button-title.type' | translate}} : {{OptionUserType.label | translate}} <span
                                    class="caret"></span>
                            </button>
                            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu"
                                aria-labelledby="button-basic">
                                <li role="menuitem" *ngFor="let item of userTypeOption"
                                    [ngClass]="(item.isShow == false ? 'd-none' : '')">
                                    <a [ngClass]="item.value === OptionUserType.value ? 'dropdown-item active' : 'dropdown-item'"
                                        (click)="onChangeType(item)">
                                        {{item.label | translate}}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="d-inline-block" id="displayOptions">
                        <div class="search-sm d-inline-block mr-1 mb-1 align-top">
                            <input class="form-control" (keypress)="_helper.space_validation($event)"
                                [(ngModel)]="search_value" (keyup.enter)="apply(search_value)"
                                placeholder="{{'label-title.search' | translate }}">
                        </div>
                    </div>

                    <div class="position-relative dateWidth" *ngIf="created_date">
                        <div class="date-sm float-md-left mr-1 mb-2">
                            <input [hidden]="direction=='rtl'" class="form-control theme_date_picker"
                                placeholder="{{'label-title.select-dates' | translate}}"
                                [bsConfig]="{ selectWeekDateRange: true, containerClass: 'datetrans1' }"
                                #drp="bsDaterangepicker" [(ngModel)]="item_bsRangeValue" bsDaterangepicker
                                [container]="'html'" #dateValue [readOnly]="true" [minDate]="created_date"
                                [maxDate]="todayDate">
                            <input [hidden]="direction=='ltr'" class="form-control theme_date_picker"
                                placeholder="{{'label-title.select-dates' | translate}}"
                                [bsConfig]="{ selectWeekDateRange: true, containerClass: 'rtldatetrans1246' }"
                                #drp="bsDaterangepicker" [(ngModel)]="item_bsRangeValue" bsDaterangepicker
                                [container]="'html'" #dateValue [readOnly]="true" [minDate]="created_date"
                                [maxDate]="todayDate">
                        </div>
                    </div>

                    <div class=" d-inline-block float-left mr-1 mb-1 align-top">
                        <div class="float-md-left" dropdown>
                            <button id="button-basic3" type="button" class="btn btn-primary btn-xs mr-1 mb-1"
                                (click)="apply(search_value)">
                                {{'button-title.apply' | translate}} <span class="caret"></span>
                            </button>
                            <button id="button-basic4" type="button" class="btn btn-outline-primary btn-xs mr-1 mb-1"
                                [disabled]="search_value == '' && !isFilterApply" (click)="clear()">
                                {{'button-title.clear-filter' | translate}} <span class="caret"></span>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="" id="displayOptions">
                    <span class="text-muted text-small text-nowrap">{{'label-title.per-page' | translate}} </span>
                    <span dropdown class="d-inline-block position-relative">
                        <button class="btn btn-outline-dark btn-xs dropdown-toggle" type="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false" dropdownToggle>
                            {{itemsPerPage}}
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right dropdown-menu-sm text-right" *dropdownMenu>
                            <li role="menuitem" *ngFor="let item of itemOptionsPerPage">
                                <a [ngClass]="item === itemsPerPage ? 'dropdown-item active' : 'dropdown-item'"
                                    (click)="onChangeItemsPerPage(item)">{{item | translate}}</a>
                            </li>
                        </ul>
                    </span>
                </div>

            </div>

        </div>

    </div>
</div>
<div class="row">
    <div class="col-12">
        <tabset class="separator-tabs" #staticTabs>
            <tab heading="{{'label-title.active-users' | translate | uppercase}}"
                (selectTab)="changeUserType(user_page_type.approved)">
                <div class="row" *ngIf="viewType === 1">
                    <div *ngFor="let user of userList | paginate: { itemsPerPage: itemsPerPage, currentPage:  currentPage, totalItems: count * itemsPerPage}"
                        class="col-12 col-sm-12 col-lg-6 col-xl-4 ng-star-inserted mb-4">

                        <div class="card d-flex flex-row h-100">
                            <span *ngIf="user.user_type_id != null && user.corporate_details"
                                class="badge badge-pill badge-theme-2 position-absolute badge-top-left">{{'menu.corporate'
                                | translate}} </span>
                            <div class="d-flex flex-grow-1 min-width-zero">
                                <div
                                    class="card-body align-self-center d-flex flex-row justify-content-between min-width-zero">
                                    <div class="min-width-zero">
                                        <a href="javascript:void(0);" (click)="showUserModal($event,user._id)">
                                            <div class="d-flex">
                                                <p class="mb-1 list-item-heading truncate">{{user.first_name}}
                                                    {{user.last_name}} ({{user.unique_id}})</p>
                                            </div>
                                            <p class=" list-item-heading mb-1 truncate ">{{user.country_phone_code}}
                                                {{user.phone}}</p>
                                            <p class="mb-2 text-muted text-small truncate">{{user.email}}</p>
                                        </a>

                                    </div>
                                    <div class="float-right d-flex flex-column justify-content-between align-items-end">
                                        <div>
                                            <p class="font-weight-bold mb-1 truncate ml-2">
                                                {{user.wallet.toFixed(_helper.to_fixed_number)}}
                                                {{user.wallet_currency_code}}</p>
                                        </div>
                                        <button *ngIf="_helper.has_permission(_helper.PERMISSION.EDIT)"
                                            id="button-basic" type="button" class="btn btn-outline-primary btn-xs "
                                            (click)="approveDecline(user, user_page_type.blocked)">
                                            {{'button-title.decline' | translate }} </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w-100" *ngIf="userList.length == 0">
                        <div class=" text-center text-capitalize">
                            {{'label-title.no-record-found' | translate}}</div>
                    </div>
                </div>
                <div class="col-12 list" *ngIf="viewType === 2">
                    <div [ngClass]="{'card d-flex flex-row mb-3': true}"
                        *ngFor="let user of userList | paginate: { itemsPerPage: itemsPerPage, currentPage:  currentPage, totalItems: count * itemsPerPage}; let i=index"
                        [contextMenu]="basicMenu" [contextMenuSubject]="user">
                        <span *ngIf="user.user_type_id != null && user.corporate_details"
                            class="badge badge-pill badge-theme-2 position-absolute badge-top-left">{{'menu.corporate'
                            | translate}} </span>
                        <a class="d-flex c-pointer" (click)="showUserModal($event,user._id)">
                            <img alt="Profile" (error)="$event.target.src = _helper.DEFAULT_IMAGE.USER_SQUARE"
                                class="img-thumbnail border-0 list-thumbnail align-self-center"
                                [src]="user.picture ? _helper.image_url + user.picture : _helper.DEFAULT_IMAGE.USER_SQUARE"
                                [alt]="user.title">
                        </a>
                        <div class="pl-2 d-flex flex-grow-1 min-width-zero c-pointer"
                            (click)="showUserModal($event,user._id)">
                            <div
                                class="card-body align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero align-items-lg-center">
                                <a class="w-30 w-sm-100">
                                    <p class="list-item-heading mb-0 truncate">{{user.first_name}} {{user.last_name}}
                                        ({{user.unique_id}})</p>
                                </a>
                                <p class="mb-0 pl-1 pr-1 text-muted text-small w-20 w-sm-100">
                                    {{user.country_phone_code}} {{user.phone}}</p>
                                <p class="mb-0 pl-1 pr-1 text-muted text-small w-30 w-sm-100">{{user.email}}</p>
                                <p class="mb-0 pl-1 pr-1 text-muted text-small w-10 w-sm-100">
                                    {{user.wallet.toFixed(_helper.to_fixed_number)}} {{user.wallet_currency_code}}
                                </p>
                                <div class="w-10 w-sm-100" *ngIf="_helper.has_permission(_helper.PERMISSION.EDIT)">
                                    <button id="button-basic" type="button" class="btn btn-outline-primary btn-xs "
                                        (click)="approveDecline(user, user_page_type.blocked)"> {{'button-title.decline'
                                        |
                                        translate }} </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w-100" *ngIf="userList.length == 0">
                        <div class=" text-center text-capitalize">
                            {{'label-title.no-record-found' | translate}}</div>
                    </div>
                </div>
                <div class="row" *ngIf="userList.length != 0">
                    <div class="col-12">
                        <div class=" mb-4">
                            <div class="row">
                                <div class="col-12 d-flex justify-content-center">
                                    <pagination-controls [ngClass]="darkMode ? 'dark' : ''"
                                        previousLabel="{{'wizard.previous' | translate}}"
                                        nextLabel="{{'wizard.next' | translate}}" (pageChange)="pageChanged($event)"
                                        responsive="true"
                                        (pageBoundsCorrection)="pageChanged($event)"></pagination-controls>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </tab>
            <tab heading="{{'label-title.blocked-users' | translate | uppercase}}"
                (selectTab)="changeUserType(user_page_type.blocked)">
                <div class="row" *ngIf="viewType === 1">
                    <div *ngFor="let user of userList | paginate: { itemsPerPage: itemsPerPage, currentPage:  currentPage, totalItems: count * itemsPerPage}"
                        class="col-12 col-sm-12 col-lg-6 col-xl-4 ng-star-inserted mb-4">

                        <div class="card d-flex flex-row h-100">
                            <span *ngIf="user.user_type_id != null && user.corporate_details"
                                class="badge badge-pill badge-theme-2 position-absolute badge-top-left">{{'menu.corporate'
                                | translate}} </span>
                            <div class="d-flex flex-grow-1 min-width-zero">
                                <div
                                    class="card-body align-self-center d-flex flex-row justify-content-between min-width-zero">
                                    <div class="min-width-zero">
                                        <a href="javascript:void(0);" (click)="showUserModal($event,user._id)">
                                            <div class="d-flex">
                                                <p class="mb-1 list-item-heading truncate">{{user.first_name}}
                                                    {{user.last_name}} ({{user.unique_id}})</p>
                                            </div>
                                            <p class=" list-item-heading mb-1 truncate ">{{user.country_phone_code}}
                                                {{user.phone}}</p>
                                            <p class="mb-2 text-muted text-small truncate">{{user.email}}</p>
                                        </a>

                                    </div>
                                    <div
                                        class="float-right d-flex flex-column justify-content-between align-items-end ">
                                        <div>
                                            <p class="font-weight-bold mb-1 truncate ml-2">
                                                {{user.wallet.toFixed(_helper.to_fixed_number)}}
                                                {{user.wallet_currency_code}}</p>
                                        </div>
                                        <button *ngIf="_helper.has_permission(_helper.PERMISSION.EDIT)"
                                            id="button-basic" type="button" class="btn btn-outline-primary btn-xs "
                                            (click)="approveDecline(user, user_page_type.approved)">
                                            {{'button-title.approve' | translate }} </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w-100" *ngIf="userList.length == 0">
                        <div class=" text-center text-capitalize">
                            {{'label-title.no-record-found' | translate}}</div>
                    </div>
                </div>
                <div class="col-12 list" *ngIf="viewType === 2">
                    <div [ngClass]="{'card d-flex flex-row mb-3': true}"
                        *ngFor="let user of userList | paginate: { itemsPerPage: itemsPerPage, currentPage:  currentPage, totalItems: count * itemsPerPage}; let i=index"
                        [contextMenu]="basicMenu" [contextMenuSubject]="user">
                        <span *ngIf="user.user_type_id != null && user.corporate_details"
                            class="badge badge-pill badge-theme-2 position-absolute badge-top-left">{{'menu.corporate'
                            | translate}} </span>
                        <a class="d-flex c-pointer" (click)="showUserModal($event,user._id)">
                            <img alt="Profile" (error)="$event.target.src = _helper.DEFAULT_IMAGE.USER_SQUARE"
                                class="img-thumbnail border-0 list-thumbnail align-self-center"
                                [src]="_helper.image_url + user.picture"
                                [src]="user.picture ? _helper.image_url + user.picture : _helper.DEFAULT_IMAGE.USER_SQUARE"
                                [alt]="user.title">
                        </a>
                        <div class="pl-2 d-flex flex-grow-1 min-width-zero c-pointer"
                            (click)="showUserModal($event,user._id)">
                            <div
                                class="card-body align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero align-items-lg-center">
                                <a class="w-30 w-sm-100">
                                    <p class="list-item-heading mb-0 truncate">{{user.first_name}} {{user.last_name}}
                                        ({{user.unique_id}})</p>
                                </a>
                                <p class="mb-0 pl-1 pr-1 text-muted text-small w-20 w-sm-100">
                                    {{user.country_phone_code}} {{user.phone}}</p>
                                <p class="mb-0 pl-1 pr-1 text-muted text-small w-30 w-sm-100">{{user.email}}</p>
                                <p class="mb-0 pl-1 pr-1 text-muted text-small w-10 w-sm-100">
                                    {{user.wallet.toFixed(_helper.to_fixed_number)}} {{user.wallet_currency_code}}
                                </p>
                                <div class="w-10 w-sm-100" *ngIf="_helper.has_permission(_helper.PERMISSION.EDIT)">
                                    <button id="button-basic" type="button" class="btn btn-outline-primary btn-xs "
                                        (click)="approveDecline(user, user_page_type.approved)">
                                        {{'button-title.approve' |
                                        translate }} </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w-100" *ngIf="userList.length == 0">
                        <div class=" text-center text-capitalize">
                            {{'label-title.no-record-found' | translate}}</div>
                    </div>
                </div>
                <div class="row" *ngIf="userList.length != 0">
                    <div class="col-12">
                        <div class=" mb-4">
                            <div class="row">
                                <div class="col-12 d-flex justify-content-center">
                                    <pagination-controls (pageChange)="pageChanged($event)"
                                        previousLabel="{{'wizard.previous' | translate}}"
                                        nextLabel="{{'wizard.next' | translate}}" [ngClass]="darkMode ? 'dark' : ''"
                                        responsive="true"
                                        (pageBoundsCorrection)="pageChanged($event)"></pagination-controls>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </tab>
        </tabset>
    </div>
</div>
<app-user-model #UserListModal></app-user-model>
<ng-template #approveTemplate>
    <div class="modal-header">
        <h4 class="modal-title pull-left">{{selectedUser.first_name}} {{selectedUser.last_name}}
            ({{selectedUser.unique_id}})</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="cancel()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body p-0">
        <div class="p-4">
            <p *ngIf="!approvalStatus">
                {{'label-title.are-you-sure-you-want-to-decline-this' | translate}} {{'menu.user' | translate}}
            </p>
            <p *ngIf="approvalStatus">
                {{'label-title.are-you-sure-you-want-to-approve-this' | translate}} {{'menu.user' | translate}}
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" (click)="approve()" class="btn btn-primary float-right">{{'button-title.confirm' |
            translate}}</button>
    </div>
</ng-template>